/**
Written by Ariel Ramirez. Custom style changes needed for additional animations on reverse-engineer HIDIVE homepage
**/

.collapsible {
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  position: relative;
  /* -webkit-transition: height 1s ease-in-out;
  -moz-transition: height 1s ease-in-out;
  -o-transition: height 1s ease-in-out;
  transition: height 1s ease-in-out; */
}
/* 
.collapsed {
  height: 0
} */